@font-face {
  font-family:'orbitron';
  font-display:block;
  src: url(media/Orbitron-VariableFont_wght.ttf);
}
@font-face {
  font-family:'orbit';
  font-display:block;
  src: url(media/Orbit-Regular.ttf);
}



*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  width:100vw;
  height:100vh;
}
.root{
  border:20px solid red;
  width:100%;
  height:100%;
}